.container{
  color: #444;
  // font-family: 'Open Sans', sans-serif;
  font-family: georgia,serif;
}

p {
  font-size: 18px;
}
h2{
  font-size: 2rem;
}

.title-stripe{
  position:relative;
  div{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec008c+0,ffffff+61 */
    background: #ec008c; /* Old browsers */
    background: -moz-linear-gradient(left,  #ec008c 0%, #ffffff 61%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ec008c 0%,#ffffff 61%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ec008c 0%,#ffffff 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec008c', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    height: 2px;
    position: absolute;
    width: 100%;
    top: 42px;
  }
}
