
 $pink: lighten(#ec008c, 0%);

main {
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  margin-top: 20px;
  a{
    color: $pink;
    text-decoration: none;
    &:hover{
      color: lighten($pink, 20%);
    }
  }
  .experience-block{
    p{
      color: $pink;
      margin: 0;
      font-style: italic;
      line-height: 22px;
      &:first-of-type{
        margin-top: 16px;
        text-transform: uppercase;
        font-style: normal;
      }
      &:last-of-type{
        margin: 5px 0 20px;
        color: inherit;
        font-style: normal;
      }
    }
  }
  article{
    flex: 2;
  }
  aside{
    flex: 1;
  }
}


@media all and (min-width: 600px) {
  main {
    flex-direction: row;
    padding: 0 10%;
    aside{
      padding-left: 2%
    }
    .experience-block{
      flex-direction: row;
    }
  }
}
