
 $pink: lighten(#ec008c, 45%);

footer{
  // padding-bottom: 60px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin ITC Light",sans-serif;
  padding: 0 2%;


  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, $pink 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$pink',GradientType=0 ); /* IE6-9 */
  p{

    background-color: #444;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  }
}

@media all and (min-width: 600px) {
  footer {
    flex-direction: row;
    padding: 0 10%;
  }
}
